@{
    ViewBag.Title = "小原ページ";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <div class="row">
        <h3>search</h3>
        <form>
            <div class=" d-flex flex-row gap-2 mb-2">
                <div class="form-group">
                    @Html.Label("", "タイトル", new { @for = "bookTitle" })
                    <input type="text" class="form-control" id="bookTitle">
                </div>
                <div class="form-group">
                    @Html.Label("", "著者名", new { @for = "bookAuthor" })
                    <input type="text" class="form-control" id="bookAuthor">
                </div>
            </div>
            <button type="button" class="btn btn-primary mb-3" id="bookSearch">書籍検索</button>
        </form>
        <h4>書籍検索結果(最大10件表示)</h4>
        <div @*class="table-responsive"*@ style="overflow-x:auto!important">
            <table class="table table-bordered" id="bookSearchTable">
                <thead>
                    <tr>
                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#</font></font></th>
                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">タイトル</font></font></th>
                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">サブタイトル</font></font></th>
                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">著者</font></font></th>
                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ページ数</font></font></th>
                        <th scope="col"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">あらすじ</font></font></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" id="defaultFirstRow" style="text-align: center;">検索結果はありません。</td>
                    </tr>
                </tbody>
            </table>
      </div>

    </div>
</main>
@section scripts{
    <script type="text/javascript">

        //#region 書籍検索
        //送信ボタンがクリックされたときの処理
        $('#bookSearch').click(function (e) {
            e.preventDefault();

            // 入力された情報を取得
            var title = $('#bookTitle').val();
            var author = $('#bookAuthor').val();
            //検索条件未入力の場合は検索終了
            if (!title && !author) {
                alert("検索情報を入力してください");
                return;
            }

            //デフォルト行を取得
            var defaultFirstRow = $('#defaultFirstRow');
            // tbody要素を取得
            var bookSearchTable = $('#bookSearchTable tbody')[0];

            //URLパラメータ文字列を作成
            var urlParams = "";
            if (title) {
                urlParams = `intitle:${title}`;
            }
            if (author) {
                if (title) {
                    urlParams += `+inauthor:${author}`;
                }
                else {
                    urlParams = `inauthor:${author}`;
                }
            }
            // WebAPIのURL
            // 公式docs(https://developers.google.com/books/docs/v1/using?hl=ja)
            // 使い方の参考(https://labo.kon-ruri.co.jp/google-books-apis/#index_id1)
            var url = 'https://www.googleapis.com/books/v1/volumes?q=' + encodeURIComponent(urlParams);

            // WebAPI実行
            $.ajax({
                url: url,
                //url: 'https://api.openbd.jp/v1/get?isbn=978-4-7741-9690-9',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    //現在の検索結果を削除
                    var searchResults = $("#bookSearchTable tbody tr :not(:first)");
                    for (let i = 0; i < searchResults.length; i++) {
                        $(searchResults[i]).remove();
                    }
                    //検索して、データある場合
                    if (data.totalItems > 0) {
                        for (let i = 0; i < data.items.length; i++) {
                            // tbody要素に最下行を追加
                            var trElem = bookSearchTable.insertRow(-1);
                            // td要素(セル要素)を追加
                            var numberCellElem = trElem.insertCell(0);
                            var titleCellElem = trElem.insertCell(1);
                            var subtitleCellElem = trElem.insertCell(2)
                            var authorCellElem = trElem.insertCell(3);
                            var pageCellElem = trElem.insertCell(4);
                            var descriptionCellElem = trElem.insertCell(5);
                            
                            //#列
                            var numberCell = document.createElement('span');
                            numberCell.className = "bookSearchContents";
                            numberCell.innerHTML = i+ 1;
                            numberCellElem.appendChild(numberCell);
                            //タイトル列
                            var titleCell = document.createElement('span');
                            titleCell.className = "bookSearchContents";
                            titleCell.innerHTML = data.items[i].volumeInfo.title;
                            titleCellElem.appendChild(titleCell);
                            //サブタイトル列
                            //subtitleがない場合はサブタイトル列は設定しない
                            if (!('subtitle' in data.items[i].volumeInfo)) {
                                
                            } else {
                                var subtitleCell = document.createElement('span');
                                subtitleCell.className = "bookSearchContents";
                                subtitleCell.innerHTML = data.items[i].volumeInfo.subtitle;
                                subtitleCellElem.appendChild(subtitleCell);
                            }
                            //著者列
                            var authorCell = titleCell.cloneNode(false);
                            //authorsがない場合は著者列は設定しない
                            if (!('authors' in data.items[i].volumeInfo)) {
                                
                            } else {
                                for (let j = 0; j < data.items[i].volumeInfo.authors.length; j++) {
                                    authorCell.innerHTML += data.items[i].volumeInfo.authors[j];
                                    authorCellElem.appendChild(authorCell);
                                }
                            }
                            //ページ列
                            //pageCountがない場合はページ列は設定しない
                            if (!('pageCount' in data.items[i].volumeInfo)) {
                                
                            } else {
                                var pageCell = document.createElement('span');
                                pageCell.className = "bookSearchContents";
                                pageCell.innerHTML = data.items[i].volumeInfo.pageCount;
                                pageCellElem.appendChild(pageCell);
                            }
                            //あらすじ列
                            //descriptionがない場合はページ列は設定しない
                            if (!('description' in data.items[i].volumeInfo)) {

                            } else {
                                var descriptionCell = document.createElement('span');
                                descriptionCell.className = "bookSearchContents";
                                descriptionCell.innerHTML = data.items[i].volumeInfo.description;
                                descriptionCellElem.appendChild(descriptionCell);
                            }
                        }
                        //検索結果ある場合はデフォルト行非表示
                        defaultFirstRow.hide();
                    }
                    else {
                        //検索結果ない場合はデフォルト行表示
                        defaultFirstRow.show();
                    }
                },
                error: function (data) {
                    alert("書籍検索中にエラーが発生しました。");
                }
            });
        });

        //#endregion

       

        //#endregion</script>

    <style>
        /*書籍検索結果テーブルの設定*/
        .table-bordered th:first-child {
            width: 10%;
            min-width: 80px;
        }

        .table-bordered td:first-child {
            width: 10%;
            min-width: 80px;
        }
    </style>
}
